@page "/cvdrisk"
@using BlazorMVVM.Client.ViewModels
@using BlazorMVVM.Client.Components
@inject ICvdRisk_ViewModel ViewModel

<h1>10 Year Cardiovascular Disease Risk Calculator</h1>

<br />

<div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: @ViewModel.Progress%" aria-valuenow=@ViewModel.Progress aria-valuemin="0" aria-valuemax="100"></div>
</div>

<br />

@switch (ViewModel.Step)
{
    case 1:
        <div class="card text-center w-50">
            <div class="card-header">
                Step 1 of 7
            </div>
            <div class="card-body">
                <h5 class="card-title">Welcome to the Framingham CVD 10 Year Risk Calculator</h5>
                <p class="card-text">Please select your gender to start the calculator</p>

                <RadioButtonList radioName="ageradio" choices="@ViewModel.GenderChoices" currentChoice="@ViewModel.Gender" MakeChoice="@ViewModel.SetGender" />

            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-lg" disabled="@ViewModel.PreviousButtonDisabled">Previous Step</button>
                <button class="btn btn-primary btn-lg" disabled="@ViewModel.NextButtonDisabled" onclick=@(() => ViewModel.GoToNextStep())>Next Step</button>
            </div>
        </div>
        break;
    case 2:
        <div class="card text-center w-50">
            <div class="card-header">
                Step 2 of 7
            </div>
            <div class="card-body">
                <h5 class="card-title">Please enter your age</h5>
                <p class="card-text">Enter age in years between 20 and 79</p>
                <input type="number" bind="@ViewModel.Age" onblur=@(() => ViewModel.SetAge()) />
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-lg" disabled="@ViewModel.PreviousButtonDisabled" onclick=@(() => ViewModel.GoToPreviousStep())>Previous Step</button>
                <button class="btn btn-primary btn-lg" disabled="@ViewModel.NextButtonDisabled" onclick=@(() => ViewModel.GoToNextStep())>Next Step</button>
            </div>
        </div>
        break;
    case 3:
        <div class="card text-center w-50">
            <div class="card-header">
                Step 3 of 7
            </div>
            <div class="card-body">
                <h5 class="card-title">Please enter your total cholesterol</h5>
                <p class="card-text">Enter the value in mg/dL</p>
                <input type="number" bind="@ViewModel.TotalCholesterol" onblur=@(() => ViewModel.SetTotalCholesterol()) />
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-lg" disabled="@ViewModel.PreviousButtonDisabled" onclick=@(() => ViewModel.GoToPreviousStep())>Previous Step</button>
                <button class="btn btn-primary btn-lg" disabled="@ViewModel.NextButtonDisabled" onclick=@(() => ViewModel.GoToNextStep())>Next Step</button>
            </div>
        </div>
        break;
    case 4:
        <div class="card text-center w-50">
            <div class="card-header">
                Step 4 of 7
            </div>
            <div class="card-body">
                <h5 class="card-title">Are you a smoker?</h5>
                <p class="card-text">Please select Yes or No</p>

                <RadioButtonList radioName="smokerRadio" choices="@ViewModel.YesNoChoices" currentChoice="@ViewModel.IsSmoker" MakeChoice="@ViewModel.SetSmoker" />

            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-lg" disabled="@ViewModel.PreviousButtonDisabled" onclick=@(() => ViewModel.GoToPreviousStep())>Previous Step</button>
                <button class="btn btn-primary btn-lg" disabled="@ViewModel.NextButtonDisabled" onclick=@(() => ViewModel.GoToNextStep())>Next Step</button>
            </div>
        </div>
        break;
    case 5:
        <div class="card text-center w-50">
            <div class="card-header">
                Step 5 of 7
            </div>
            <div class="card-body">
                <h5 class="card-title">Please enter your HDL cholesterol</h5>
                <p class="card-text">Enter the value in mg/dL</p>
                <input type="number" bind="@ViewModel.HdlCholesterol" onblur=@(() => ViewModel.SetHdlCholesterol()) />
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-lg" disabled="@ViewModel.PreviousButtonDisabled" onclick=@(() => ViewModel.GoToPreviousStep())>Previous Step</button>
                <button class="btn btn-primary btn-lg" disabled="@ViewModel.NextButtonDisabled" onclick=@(() => ViewModel.GoToNextStep())>Next Step</button>
            </div>
        </div>
        break;
    case 6:
        <div class="card text-center w-50">
            <div class="card-header">
                Step 6 of 7
            </div>
            <div class="card-body">
                <h5 class="card-title">Please enter your blood pressure</h5>
                <p class="card-text">Enter your systolic pressure in mm Hg</p>
                <input type="number" bind="@ViewModel.SystolicPressure" onblur=@(() => ViewModel.SetBloodPressure()) />
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-lg" disabled="@ViewModel.PreviousButtonDisabled" onclick=@(() => ViewModel.GoToPreviousStep())>Previous Step</button>
                <button class="btn btn-primary btn-lg" disabled="@ViewModel.NextButtonDisabled" onclick=@(() => ViewModel.GoToNextStep())>Next Step</button>
            </div>
        </div>
        break;
    case 7:
        <div class="card text-center w-50">
            <div class="card-header">
                Step 7 of 7
            </div>
            <div class="card-body">
                <h5 class="card-title">Are you being treated for high blood pressure?</h5>
                <p class="card-text">Please select Yes or No</p>

                <RadioButtonList radioName="bpTreatedRadio" choices="@ViewModel.YesNoChoices" currentChoice="@ViewModel.BpIsTreated" MakeChoice="@ViewModel.SetBpIsTreated" />

            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-lg" disabled="@ViewModel.PreviousButtonDisabled" onclick=@(() => ViewModel.GoToPreviousStep())>Previous Step</button>
                <button class="btn btn-primary btn-lg" disabled="@ViewModel.NextButtonDisabled" onclick=@(() => ViewModel.GoToNextStep())>Next Step</button>
            </div>
        </div>
        break;
    case 8:
        <div class="card text-center w-50">
            <div class="card-header">
                Calculator Complete
            </div>
            <div class="card-body">
                <h5 class="card-title">Your 10 year risk for Cardiovascular Disease is:</h5>
                <p class="card-text">@ViewModel.RiskPercentage</p>                
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-lg" disabled="@ViewModel.PreviousButtonDisabled" onclick=@(() => ViewModel.GoToPreviousStep())>Previous Step</button>
                <button class="btn btn-primary btn-lg" disabled="@ViewModel.NextButtonDisabled" onclick=@(() => ViewModel.GoToNextStep())>Next Step</button>
            </div>
        </div>
        break;
    default:
        break;
}
